footer.footer.bg-secondary.py-5
  .container
    .row
      .col-12.text-center.text-white
        small &copy; 2019 QuieroParkear. Todos los Derechos Reservados. <a href="https://omelet.pe" class="font-weight-bold text-white">Diseñado y desarrollado por Omelet.</a>