header.header.pt-3.pb-5.py-md-5
  .container
    .row
      .col-6.col-md-4.d-flex.order-1
        ul.list-inline.my-auto
          li.list-inline-item
            a.text-white.h4(href="https://www.instagram.com/quieroparkear/" target="_blank"): i.fab.fa-instagram
          li.list-inline-item.ml-2
            a.text-white.h4(href="https://www.facebook.com/quieroparkear/" target="_blank"): i.fab.fa-facebook-f
          //- li.list-inline-item
          //-   a.text-white.h4(href="#"): i.fab.fa-whatsapp
          //- li.list-inline-item.ml-2
          //-   a.text-white.h4.d-md-none(href="#"): i.fas.fa-phone
          //-   a.d-none.d-md-inline-block.text-white.my-auto(href="tel:16981260") Cell. 016981260
      
      .col-md-4.text-center.order-3.order-md-2.mt-4.mt-md-0
        a(href="#"): img.logo(src="assets/images/logo.png", alt="Quiero Parquear")

      .col-6.col-md-4.d-flex.order-2.order-md-3
        a.btn.btn-secondary.py-1.my-auto.ml-auto(href="#registrarme") REGISTRARME