@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica'), url('../fonts/helveticaneue.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Light'), url('../fonts/helveticaneue-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Bold'), url('../fonts/helveticaneue-bold.woff2') format('woff2');
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  overflow-x: hidden;
}
