extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  section.hero
    .container.py-5
      .row
        .col-12.text-center
          .hero__copy
            h1.hero__title
              span.d-block(data-aos="fade-up") ¡Gana <span class="text-primary">dinero</span>
              span.d-block(data-aos="fade-up" data-aos-delay="200") con tu estacionamiento!
            p.hero__p(data-aos="fade-up" data-aos-delay="400") Si tienes un estacionamiento libre la mayoría del tiempo, regístrate y comienza a ganar dinero extra con él.
            a.btn.btn-lg.btn-primary.text-white(href="#como-funciona" data-aos="fade-up" data-aos-delay="600") ¿Cómo funciona?

  section#como-funciona.pt-4.pb-5
    .bg-white
      .container.pb-3
        .row
          .col-12.text-center
            h2.section-title(data-letter="C" data-aos="fade-up" data-aos-delay="0") ¿Cómo funciona?
            p.h3.text-secondary(data-aos="fade-up" data-aos-delay="100") Tan simple y rápido

  section.d-md-none
    .container-fluid
      .row
        .col-md-6.bg-secondary.py-5.step
          .step-item.step-item--secondary.d-block.py-5.px-3(data-aos="fade-up" data-aos-delay="0")
            .step-icon.mb-3(data-step-number="1")
              img(src="assets/images/step-01-icon.png")
            h3.my-auto.text-white Registra<br><strong>tu estacionamiento</strong>
        .col-md-6.bg-primary.py-5.step
          .step-item.step-item--primary.d-block.py-5.px-3(data-aos="fade-up" data-aos-delay="150")
            .step-icon.mb-3(data-step-number="2")
                img(src="assets/images/step-02-icon.png")
            h3.my-auto.text-white Escoge tu<br><strong>horario</strong>
        .col-md-6.bg-secondary.py-5.step
          .step-item.step-item--secondary.d-block.py-5.px-3(data-aos="fade-up" data-aos-delay="0")
            .step-icon.mb-3(data-step-number="3")
                img(src="assets/images/step-03-icon.png")
            h3.my-auto.text-white Espera a que un conductor<br><strong>ubique tu cochera</strong>
        .col-md-6.bg-primary.py-5.step
          .step-item.step-item--primary.d-block.py-5.px-3(data-aos="fade-up" data-aos-delay="150")
            .step-icon.mb-3(data-step-number="4")
                img(src="assets/images/step-04-icon.png")
            h3.my-auto.text-white Gana dinero con<br><strong>todos los alquileres</strong>
  section.d-none.d-md-block
    .container
      .row
        .col-md-6.bg-secondary.py-5.step
          .step-item.step-item--secondary.d-flex.py-5.px-4(data-aos="fade-up" data-aos-delay="0")
            .step-icon(data-step-number="1")
              img(src="assets/images/step-01-icon.png")
            h3.ml-3.my-auto.text-white Registra<br><strong>tu estacionamiento</strong>
        .col-md-6.bg-primary.py-5.step
          .step-item.step-item--primary.d-flex.py-5.px-4(data-aos="fade-up" data-aos-delay="150")
            .step-icon(data-step-number="2")
                img(src="assets/images/step-02-icon.png")
            h3.ml-3.my-auto.text-white Escoge tu<br><strong>horario</strong>
        .col-md-6.bg-primary.py-5.step
          .step-item.step-item--primary.d-flex.py-5.px-4(data-aos="fade-up" data-aos-delay="0")
            .step-icon(data-step-number="3")
                img(src="assets/images/step-03-icon.png")
            h3.ml-3.my-auto.text-white Espera a que un conductor<br><strong>ubique tu cochera</strong>
        .col-md-6.bg-secondary.py-5.step
          .step-item.step-item--secondary.d-flex.py-5.px-4(data-aos="fade-up" data-aos-delay="150")
            .step-icon(data-step-number="4")
                img(src="assets/images/step-04-icon.png")
            h3.ml-3.my-auto.text-white Gana dinero con<br><strong>todos los alquileres</strong>
    
  section.py-5(style="background-image:url('assets/images/section_bg_02.jpg');background-size:cover")
    .container.py-5
      .row.py-3
        .col-md-8.text-center
          h2.text-white.font-weight-bold(data-aos="fade-up") ¡Tendremos más de <span id="clients-number"></span>mil<br><span class="font-weight-light">estacionamientos registrados en Perú!</span>
  
  section#registrarme
    .container.pb-5
      .row.py-5
        .col-12.text-center
          h2.section-title(data-letter="S" data-aos="fade-up") ¡Únete a nosotros!
          p.lead.text-secondary.font-weight-normal(data-aos="fade-up" data-aos-delay="100") Llena tus datos y un asesor<br>comercial se comunicará contigo
      .row
        .col-12
          form(@submit.prevent="trySubmit")
            .row
              .col-md-4(data-aos="fade-up" data-aos-delay="0")
                .form-group
                  input.form-control(:disabled="formWaiting" type="text" placeholder="Nombres y Apellidos" v-model="fullname")
                  small.d-block.mt-2.text-danger(v-if="state.fullname == false") Ingrese al menos 4 caracteres
              .col-md-4(data-aos="fade-up" data-aos-delay="50")
                .form-group
                  input.form-control(:disabled="formWaiting" type="text" placeholder="Correo Electrónico" v-model="email")
                  small.d-block.mt-2.text-danger(v-if="state.email == false") Ingrese un correo electrónico válido
              .col-md-4(data-aos="fade-up" data-aos-delay="100")
                .form-group
                  input.form-control(:disabled="formWaiting" type="text" placeholder="Teléfono" v-model="phone")
                  small.d-block.mt-2.text-danger(v-if="state.phone == false") Ingrese un número telefónico
              .col-md-4(data-aos="fade-up" data-aos-delay="150")
                .form-group
                  select.form-control(:disabled="formWaiting" type="text" v-model="cocheras")
                    option(value="" disabled selected) Cantidad de cocheras
                    option(value="1") 1
                    option(value="2") 2
                    option(value="Más de 2") Más de 2
                  small.d-block.mt-2.text-danger(v-if="state.cocheras == false") Seleccione la cantidad de cocheras
              .col-md-4(data-aos="fade-up" data-aos-delay="200")
                .form-group
                  select.form-control(:disabled="formWaiting" type="text" v-model="district")
                    option(value="" disabled selected) Distrito
                    option(value="Ancón") Ancón
                    option(value="Ate") Ate
                    option(value="Barranco") Barranco
                    option(value="Breña") Breña
                    option(value="Carabayllo") Carabayllo
                    option(value="Chaclacayo") Chaclacayo
                    option(value="Chorrillos") Chorrillos
                    option(value="Cieneguilla") Cieneguilla
                    option(value="Comas") Comas
                    option(value="El Agustino") El Agustino
                    option(value="Independencia") Independencia
                    option(value="Jesús María") Jesús María
                    option(value="La Molina") La Molina
                    option(value="La Victoria") La Victoria
                    option(value="Lima") Lima
                    option(value="Lince") Lince
                    option(value="Los Olivos") Los Olivos
                    option(value="Lurigancho") Lurigancho
                    option(value="Lurín") Lurín
                    option(value="Magdalena del Mar") Magdalena del Mar
                    option(value="Miraflores") Miraflores
                    option(value="Pachacamac") Pachacamac
                    option(value="Pucusana") Pucusana
                    option(value="Pueblo Libre") Pueblo Libre
                    option(value="Puente Piedra") Puente Piedra
                    option(value="Punta Hermosa") Punta Hermosa
                    option(value="Punta Negra") Punta Negra
                    option(value="Rímac") Rímac
                    option(value="San Bartolo") San Bartolo
                    option(value="San Borja") San Borja
                    option(value="San Isidro") San Isidro
                    option(value="San Juan de Lurigancho") San Juan de Lurigancho
                    option(value="San Juan de Miraflores") San Juan de Miraflores
                    option(value="San Luis") San Luis
                    option(value="San Martín de Porres") San Martín de Porres
                    option(value="San Miguel") San Miguel
                    option(value="Santa Anita") Santa Anita
                    option(value="Santa María del Mar District") Santa María del Mar District
                    option(value="Santa Rosa") Santa Rosa
                    option(value="Santiago de Surco") Santiago de Surco
                    option(value="Surquillo") Surquillo
                    option(value="Villa El Salvador") Villa El Salvador
                    option(value="Villa María del Triunfo") Villa María del Triunfo
                  small.d-block.mt-2.text-danger(v-if="state.district == false") Seleccione un distrito
              .col-md-4(data-aos="fade-up" data-aos-delay="250")
                .form-group
                  select.form-control(:disabled="formWaiting" type="text" v-model="encontrado")
                    option(value="" disabled selected) ¿Por donde nos encontró?
                    option(value="Facebook") Facebook
                    option(value="Instagram") Instagram
                    option(value="Google") Google
                    option(value="Recomendación") Recomendación
                  small.d-block.mt-2.text-danger(v-if="state.encontrado == false") Seleccione un opción
              .col-12.mt-4(v-if="formResponse.message != null")
                .alert.text-center(:class="{'alert-success' : !formResponse.error, 'alert-danger' : formResponse.error}") {{formResponse.message}}
              .col-12.mt-4.text-center(data-aos="fade-up")
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                  <label class="form-check-label" for="exampleCheck1"> Acepto las <a href="#" data-toggle="modal" data-target="#termsModal">Políticas de privacidad y uso de datos</a></label>
                </div>
              .col-12.mt-4(data-aos="fade-up")
                .form-group.text-center
                  button.btn.btn-secondary.py-1.px-4(v-if="formWaiting" disabled): <div class="spinner-border spinner-border-sm" role="status"></div> Espere...
                  button.btn.btn-secondary.py-1.px-4(v-else type="submit") Enviar
              
              <div class="modal fade" id="termsModal" tabindex="-1" role="dialog"  aria-labelledby="termsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="termsModalLabel">Políticas de privacidad y uso de datos</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      include terms_conditions.pug
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
              
